*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.main-header{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.inner {
    display: flex;
    align-items: center;
}

.header-menu a {
    margin-left: 32px;
    color: #939CAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.header-btn {
    background: #FCB72B;
    padding: 14px 39px;
    color: #FFF;
    text-align: center;
    font-family: Space Mono;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    border: 1px solid #FCB72B;
    cursor: pointer;
}


.header-btn:hover {
    background: transparent;
    color: #FCB72B;
    
}
.matin{
    
    /* width: 1300px; */
     /* height: 600px; */
     margin: 153px 385px;
     padding: 165px 775px;
     /* flex-shrink: 0; */
     opacity: 0.75;
     background: #2F3B59;
}
.h1{
    width: 500px;
    text-align: center;
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 100% */
    letter-spacing: -2.5px;
    }
    .pp{
        width: 405px;
        text-align:center;
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 166.667% */
    }